workspace "dly" // 1
workspace "wrk" //2
workspace "str" //3



window-rule {
    geometry-corner-radius 12 // Set every window radius to 12
    clip-to-geometry true
    open-maximized true
    open-focused true
    background-effect {
        blur false
    }
    draw-border-with-background false 
    default-column-display "tabbed"
}

layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}


window-rule {
    match app-id="vlc"
    open-maximized false
    open-focused true
}

window-rule {
    match app-id="code"
    open-on-workspace "wrk"
    open-maximized true
    open-focused true
      opacity 0.9
     background-effect {
        blur true
    }
}

window-rule {
    match app-id="discord"
    open-maximized true
    open-on-workspace "str"
    open-focused true
}

window-rule {
    match app-id="google-chrome"
    open-maximized true
    open-on-workspace "dly"
    open-focused true
    draw-border-with-background true
    default-column-display "tabbed"
}



window-rule {
    match app-id="kitty"
    open-maximized true
    open-on-workspace "wrk"
    default-column-display "tabbed"
    opacity 0.6
        background-effect {
        blur true
    }
    draw-border-with-background false    
}


window-rule {
    match app-id="steam"
    open-on-workspace "str"
    open-focused false
    default-column-display "tabbed"
}

window-rule {
    match app-id="heroic"
    open-maximized true
    open-on-workspace "str"
    default-column-display "tabbed"
    open-focused true
}

window-rule {
    match app-id="YouTube Music Desktop App"
    open-maximized true
    open-on-workspace "str"
    open-focused false
    opacity 0.9
}

window-rule {
    match app-id="Spotify"
    open-maximized true
    open-on-workspace "str"
    open-focused false
    opacity 0.9
}

window-rule {
    match app-id="GitHub Desktop"
    open-on-workspace "wrk"
    opacity 0.97
}

window-rule {
    match app-id="antigravity"
    open-on-workspace "wrk"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="cursor"
    open-on-workspace "wrk"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="python3"
    open-on-workspace "wrk"
    open-focused false
    open-maximized true
}

window-rule {
    match app-id="dolphin"
    opacity 0.8
    open-on-workspace "dly"
    background-effect {
        blur true
    }
}

window-rule {
    match app-id="kate"
    opacity 0.93
    open-maximized false
    background-effect {
        blur true
    } 
}

window-rule {
    match app-id="org.kde.plasma-systemmonitor"
    opacity 0.8
    open-maximized false
    background-effect {
        blur true
    } 
}

window-rule {
    match title="Konsole"
    open-on-workspace "wrk"
    open-floating false
    open-maximized true
    opacity 0.74
    background-effect{
        blur true
    }
}
    
window-rule {
    match app-id="steam_app_default"
    open-on-workspace "dly"
    open-floating false
 }
 
window-rule {
    match title="StarSavior"
    open-on-workspace "dly"
    open-floating true
 }
 
 
    

